.search {
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5em;
}

.search__title {
  font-family: 'Yatra One';
  font-size: 2em;
  margin: 0.6em 0;
}

.searh__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
