#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.main__container {
  width: 100%;
  flex: 2 1 0;
  padding: 2rem;
}

.overlay {
  z-index: 999;
  opacity: 0.6;
}
